@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.softwaredeveloper.blog/multi-project-dotnet-core-solution-in-docker-image">creating multi-project .net core solution in Docker image</a>.</p>
    <p><img src="software-developer-blog-logo.jpg" alt="Software Developer Blog logo" class="logo"/></p>
</div>
